---
import moriRegular from "../assets/fonts/PPMori-Regular.otf";
import moriSemiBold from "../assets/fonts/PPMori-SemiBold.otf";
import Navigation from "../components/Navigation.astro";

export interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Karen's Industrial Design Portfolio - Showcasing innovative design solutions and creative projects.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <link
      rel="preload"
      href={moriRegular}
      as="font"
      type="font/otf"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href={moriSemiBold}
      as="font"
      type="font/otf"
      crossorigin="anonymous"
    />

    <title>{title}</title>
  </head>
  <body>
    <slot />
    <Navigation />
  </body>
</html>

<style is:global>
  @import "../styles/global.css";
</style>
